{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{dosen.foto.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>{{dosen.namadosen | title}}</strong> </h5>
          <p class="card-text">
            <ol>
              <ul>NIDN : {{dosen.nidn}}</ul>
              <ul>Jurusan : {{dosen.jurusan.namajurusan}}</ul>
            </ol>
          </p>
          <a href="{{dosen.cv.url}}" target="_blank" class="btn btn-primary"><i class="fa fa-search"></i> Riwayat Hidup</a>
        </div>
      </div>
    </div>
</div>
{% endblock content %}




  